$primary: #49654D;
$secondary: #8BA989;
$white: #FFFFFF;
$light: #C0CFB2;
$dark: #364F3C;

* {
	box-sizing: border-box;
	user-select: none;
}

body, html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	padding: 0px;
	height: 100%;
  	margin: 0;
}

#root, .app {
	display: flex;
}

.app {
	width: 100%;
	height: 100vh;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	background-color: black;
}

/* Scrollbar - width */
::-webkit-scrollbar {
  width: 5px;
}

/* Scrollbar - track */
::-webkit-scrollbar-track {
  background: $light; 
}
 
/* Scrollbar - handle */
::-webkit-scrollbar-thumb {
  background: $secondary; 
}

/* Scrollbar - handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}