* {
	box-sizing: border-box;
	user-select: none;
}

body, html {
	font-family: var(--font);
	background-color: var(--white-color);
	height: 100%;
	padding: 0;
	margin: 0;
}

#root, #app {
	display: flex;
}

#app {
	width: 100vh;
	height: 100vh;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: var(--light-color); 
}
 
::-webkit-scrollbar-thumb {
	background: var(--secondary-color); 
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}

/* Global hide */
.hide {
    visibility: hidden;
    width: 0;
    height: 0;
    display: flex;
}

/* Global icon class */
.icon {
	font-size: 25px;
}