$primary: #49654D;
$secondary: #8BA989;
$white: #FFFFFF;
$light: #C0CFB2;
$dark: #364F3C;

@import url('https://fonts.googleapis.com/css?family=Questrial');
$font: 'Questrial', sans-serif;

* {
	box-sizing: border-box;
	user-select: none;
}

body, html {
	font-family: $font;
	background-color: $white;
	height: 100%;
	padding: 0;
	margin: 0;
}

#root, .app {
	display: flex;
}

.app {
	width: 100vh;
	height: 100vh;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}

/* Scrollbar - width */
::-webkit-scrollbar {
	width: 5px;
}

/* Scrollbar - track */
::-webkit-scrollbar-track {
	background: $light; 
}
 
/* Scrollbar - handle */
::-webkit-scrollbar-thumb {
	background: $secondary; 
}

/* Scrollbar - handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $primary;
}