$primary: #49654D;
$secondary: #8BA989;
$white: #FFFFFF;
$light: #C0CFB2;
$dark: #364F3C;

@import url('https://fonts.googleapis.com/css?family=Questrial');
$font: 'Questrial', sans-serif;

#leftColView {
  flex: 1;
  background: $white;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(black, .4);
}

#search {
	width: 100%;
	min-height: 10%;
    background-color: bisque;
    border-radius: 5px;
}

#list {
	width: 100%;
	height: 95%;
	background-color: rgba($white, .85);
	overflow: scroll;
	overflow-x: hidden;
	display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#listItem {
	width: 100%;
	height: 140px;
	background-color: rgba($white, .50);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    border-bottom: 3px solid black;
    box-shadow: 5px 5px 15px rgba(black, .4);
    top: 5px;
}

#listItemImg {
	height: 137px;
	width: 137px;
}

#listItemImg img {
	width: 100%;
	height: 100%;
}

.listItem-song-name, .listItem-artist-name, .listItem-album-name {
    font-family: $font;
    text-transform: uppercase;
    margin: 0;
    width: 70%;
}
  
.listItem-song-name {
    font-size: .8em;
    letter-spacing: 3px;
    color: $dark;
}
  
.listItem-artist-name {
    font-size: .6em;
    letter-spacing: 1.5px;
    color: lighten($dark, 15%);
    margin-top: 5px;
}
  
.listItem-album-name {
    font-size: .5em;
    letter-spacing: 1.5px;
    color: lighten($dark, 15%);
    margin-top: 5px;
}

.listItemInfo {
    width: 60%;
    margin: 20px 50px;
    position: relative;
}